<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container{
          text-align: center;
          padding:2%;
        }
     </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h3>Thanks for Registration.</h3>
        <a href="http://localhost:9090/login">Click Here to Login</a>
    </div>
</div>
</body>
</html>